
BACKEND_SERVER_PORT =
CONTEXT_PATH = "/api"

DB_URL=jdbc:postgresql://host:port/mydb
DB_USER =
DB_PASSWORD =
HIBERNATE = ""

SECRET_KEY =
DOMAIN_URL = ""



MAIL_HOST = ""
MAIL_PORT =
MAIL_USERNAME = ""
MAIL_PASSWORD =  ""

MY_MAIL = ""